div.debug-controls {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    height: 40px;
}

div.num-bux {
    height: 100%;
}

.button-grid {
    display: grid;
    grid-template-columns: minmax(50px, 1fr) minmax(200px, 2fr) 14fr;
    grid-template-rows: 50px;
    grid-gap: 10px;
}

.label-grid {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.label-grid > * {
    padding: 5px;
}

/* div.player {
    height: 100px;
} */